body{
  margin: 0;
}

.wrap{
  width: 800px;
  height: 100px;
  margin: auto;
  position: relative;
  background: #666;
}

.box{
  width: 400px;
  height: 400px;
  margin: auto;
  background: red;

  position: absolute;
  left:20px;
  top:30px;


}
