form li{
  list-style: none;
  margin-bottom: 20px;
}

form ul{
    padding-left: 0;
}

label{
  display: block;
  color: blue;
  cursor: pointer;
  font-family: sans-serif;
  padding-bottom: 8px;
}

textarea{
  width: 200px;
  height: 200px;
}
